@model _02_控制器.Models.Student
<!DOCTYPE html>
<html>
    <head>
        <title>Showdata2</title>
    </head>
    <body>
        <div>
            @Model.Id
            @Model.Name
            @Model.Age
        </div>
    </body>
</html>
