
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台首页</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script>
        $(function () {
            binClickEvent();
        });
        function binClickEvent() {
            //绑定超链接的单击时间
            $(".new").click(function () {
                var title = $(this).text();
                var url = $(this).attr("url");
                //判断页签是否存在，如果存在则不再继续往下走
                var isExt = $('#tt').tabs('exists', title);
                if(isExt){
                    $('#tt').tabs('select', title);
                    return;
                }
                $("#tt").tabs('add', {
                    title: title ,
                    content:showContent(url),
                    closable:true
                });
            });
        }

        //页签中显示的内容标签
        function showContent(url) {
            var strHtml = '<iframe src="' + url + '" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>';
            return strHtml;
        }
    </script>
</head>
<body class="easyui-layout">

    <div region="north" border="false" style="height:65px;background:#B3DFDA;overflow:hidden;background-image:url(/Content/Images/bg3.png)" >
        <img src="/Content/Images/logo.gif" />
    </div>


    <div region="west" split="true" title="West" style="width:150px;padding:2px">
        <div id="aa" class="easyui-accordion" style="width:143px;height:auto;">
            <div title="新闻管理" iconCls="icon-ok" style="overflow:auto;padding:10px;">
                <a href="javascript:void(0)" class="new" url="/AdminNewList/Index">新闻管理</a>
            </div>
            <div title="评论管理" iconCls="icon-reload" selected="true" style="padding:10px;">
                <a href="javascript:void(0)" class="new" url="/AdminNewList/Index">评论管理</a>
            </div>
        </div>
    </div>


    <div region="south" border="false" style="height:30px;background:#A9FACD;padding:10px;text-align:center">
        版权  &copy;  Itcast
    </div>


    <div region="center" title="Main Title">
        <div class="easyui-tabs" style="width:700px;height:250px" fit="true" id="tt">
            <div title="新闻管理"  data-options="closable:true" style="padding:10px">
                <iframe src="/AdminNewList/Index" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</body>

</html>
