@model _002_DropDownList集合.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPerson</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("AddPerson","Drop",FormMethod.Post))
        {
            <span>年龄</span>@Html.TextBoxFor(p=>p.Age)
            <br />
            <span>qq:</span>@Html.TextBoxFor(p=>p.QQ)
            <input  type="submit"/>
        }
    </div>
</body>
</html>
