@model _002_DropDownList集合.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddPerson1</title>
</head>
<body>
    <div> 
        <h1>@Model.QQ</h1>
    </div>
</body>
</html>
