
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAddInfo</title>
    <link href="~/Content/tableStyle.css" rel="stylesheet" />
    <script src="/KinderEditor/kindeditor-min.js"></script>
    <link rel="stylesheet" href="/KinderEditor/themes/default/default.css" />
    <link rel="stylesheet" href="/KinderEditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="/KinderEditor/kindeditor.js"></script>
    <script charset="utf-8" src="/KinderEditor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="/KinderEditor/plugins/code/prettify.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>


    <script type="text/javascript">
        //当页面加载完毕之后，在加载富文本编辑器到页面上
        KindEditor.ready(function (K) {
            var editor1 = K.create('#MsgContent', {
                cssPath: '/KinderEditor/plugins/code/prettify.css',
                uploadJson: '/KinderEditor/asp.net/upload_json.ashx',
                fileManagerJson: '/KinderEditor/asp.net/file_manager_json.ashx',
                allowFileManager: true,
                afterBlur: function () { this.sync(); },//注意这里（异步提交时需要同步）
                afterCreate: function () {
                    var self = this;
                   self.sync();//把富文本编辑器的内容放到  文本域里面去。
                }
            });
            prettyPrint();//注意要调用该方法.
        });


        //当点击按钮则提交表单
        $(function () {
            fileUpload();
        });


        function fileUpload() {
            $("#btnFileUp").click(function () {
                //判断是否选择文件
                if ($("#fileUpImage").val() == "") {
                    $.messager.alert("提示", "请选择你要上传的文件", "info");
                    return;
                }
                $("#form1").ajaxSubmit({
                    type: "post",
                    url: "/AdminNewList/FileUpload",
                    success: function (data) {
                        var serverData = data.split(':');
                        if (serverData[0] == "ok") {
                            //将路径赋值给了隐藏域，提交表单时将提交到服务端保存到数据库
                            $("#hidImagePath").val(serverData[1]);
                            //将上传的图片追加到指定div中
                            $("#showImage").append("<img src='" + serverData[1] + "' width='40px' height='40px'");
                        }
                        else {
                            $.messager.alert("提示", serverData[1], "info");
                        }
                    }
                })
            })
        }
        //提交表单
        function subForm() {
            $("#form1").submit();
        }

        function afterAdd() {
            //子窗体调用父窗体中的方法
            window.parent.afterAdd();
        }

    </script>
</head>
<body>
    <div> 
        @using (Ajax.BeginForm("AdminNewList", "AddNewInfo", new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterAdd" }, new { id = "form1" }))
        {
            <table>
                <tr>
                    <td>新闻名称</td>
                    <td>
                        <input type="text" name="title" />
                    </td>
                </tr>
                <tr>
                    <td>作者</td>
                    <td>
                        <input type="text" name="author" />
                    </td>
                </tr>
                <tr>
                    <td>上传图片</td>
                    <td>


                        <input type="file" name="fileUp" id="fileUpImage" />
                        <input type="submit" value="上传图片" id="btnFileUp" />
                        <input type="hidden" id="hidImagePath" name="ImagePath" />

                        <div id="showImage"></div>
                    </td>
                </tr>
                <tr>
                    <td>新闻内容</td>
                    <td>
                        <textarea id="MsgContent" cols="100" rows="8" style="width: 500px; height: 200px; visibility: hidden;" name="Msg"></textarea>
                    </td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
