@*@model List<_006_Web_API.Models.UserInfo>*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @*<table border="1">
            <tr>
                <th>编号</th>
                <th>姓名</th>
            </tr>
            @foreach (UserControl userinfo in Model)
            {
                <tr>
                    <td>@userinfo.ID</td>
                    <td>@userinfo.Name</td>
                </tr>
            }
        </table>*@
    </div>
</body>
</html>
